# system / windows
Thumbs.db
Desktop.ini

# node
node_modules
dist

# env
.env

# logs
*.log

# oneDrive / windows junk
**/Application Data/
**/Local Settings/
**/My Documents/
**/NetHood/
**/PrintHood/
**/Recent/
**/SendTo/
**/Start Menu/
**/Templates/
**/Cookies/
**/Documents/
**/My Music/
**/My Pictures/
**/My Videos/
